@import '../../../../styles/abstracts/variables';

.home {
  background: $primary-color;
  height: calc(100vh - 8rem);
  color: $primary-header-color-text;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  &_section {
    width: 100vw;
    display: flex;
    justify-content: center;

    &.search {
      height: calc(100%/3);
      align-items: center;
    }

    &.result {
      height: calc(100%/3 * 2);
      align-items: flex-start;
      text-align: center;
    }

    &_title {
      font-size: 8rem;
      word-break: break-word;
      padding: 0 2rem;
    }
  }
}
