@import '../../../../styles/abstracts/variables';

.header {
  background: $primary-color;
  color: $primary-header-color-text;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;

  &_menu {
    background: $primary-color-dark;
    padding: 2.7rem;
  }

  &_logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 1.5rem;
    cursor: pointer;
  }

  &_title {
    font-family: $font_secondary;
    font-size: 3rem;
    padding: 1rem;
  }
}
